@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Main/_LayoutAdministration.cshtml";
}

    <body>
        <div class="row">
            <div class="container-fluid">

                <div class="text-center">
                    <br />
                    <hr />
                    <header>
                        <h1 class="text-danger">@ViewData["Title"]</h1>
                    </header>
                    <p class="text-danger">You do not have access to this resource. Sorry.</p>
                </div>
                </div>
            </div>
    </body>

    