
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Main/_LayoutAdministration.cshtml";
}


<body>
    <div class="row">
        <div class="container-fluid">

            <div class="text-center">
                <br />
                <hr />
                <h1 class="display-4">ACCESS DENIED</h1>
                <p><a>You dont have permission to access this resource</a>.</p>
            </div>
        </div>
    </div>
</body>